{{ if eq .chezmoi.os "windows" -}}
[credential "helperselector"]
	selected = wincred
[commit]
	gpgsign = true
	verbose = true
[user]
	name = Cusox
	signingkey = 07E930C7EB7F25EB
	email = cusoxlee@gmail.com
{{ else if eq .chezmoi.os "linux" -}}
[credential]
	helper = cache --timeout 21600
	helper = oauth -device
[user]
	name = Cusox
	email = cusoxlee@gmail.com
{{ end -}}
{{ if eq .chezmoi.hostname "Omit" -}}
[gpg]
	program = C:\\Users\\cusox\\scoop\\apps\\gpg\\current\\bin\\gpg.exe
{{ else if eq .chezmoi.hostname "Altra" -}}
[gpg]
	program = D:\\Applications\\Scoop\\scoop\\apps\\gpg\\current\\bin\\gpg.exe
{{ end -}}
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = collared-trogon
	navigate = true
	side-by-side = true
{{ if eq .chezmoi.arch "arm64" -}}
[url "https://ghfast.top/https://github.com"]
	insteadOf = https://github.com
{{ end }}
