# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Oh My Zsh
export ZSH=$HOME/.oh-my-zsh

# Theme
ZSH_THEME="powerlevel10k/powerlevel10k"
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

DISABLE_AUTO_UPDATE="true"

# Plugins
plugins=(
    git
    zsh-autocomplete
    zsh-autosuggestions
    zsh-syntax-highlighting
)

fpath=(~/.oh-my-zsh-completions $fpath)

source $ZSH/oh-my-zsh.sh

# PATH
if ! [[ "$PATH" =~ "$HOME/.local/bin" ]]
then
    PATH="$HOME/.local/bin:$PATH"
fi

if [[ -d $HOME/.cargo/bin ]]
then
  PATH="$HOME/.cargo/bin:$PATH"
fi

# Editor
if [[ -f ~/.local/bin/nvim ]]
then
  alias vim='nvim'
  export EDITOR=nvim
else
  export EDITOR=vim
fi

# Alias
[ -f ~/.local/bin/rg ] && alias grep='rg'
[ -f ~/.local/bin/bat ] && alias cat='bat --color=always'
if [[ -f ~/.local/bin/eza ]]; then
    alias ls="eza --icons=always -h"
    alias ll="eza -l --icons=always -h"
    alias la="eza -la --icons=always -h"
fi

# Hook
eval "$(vfox activate zsh)"
eval "$(atuin init zsh)"
eval "$(zoxide init zsh --cmd cd)"
