bindkey -v

source ~/.config/zsh/init_zim.zsh

# Encoding
export LESSCHARSET="utf-8"

# PATH
if ! [[ "$PATH" =~ "$HOME/.local/bin" ]]
then
    PATH="$HOME/.local/bin:$PATH"
fi

# Editor
alias vim='nvim'
export EDITOR=nvim

# Alias
alias grep='rg'
alias cat='bat'
alias ls="eza --icons -h"
alias ll="eza -l --icons -h"
alias la="eza -la --icons -h"

# Hook
eval "$(mise activate zsh)"
eval "$(atuin init zsh)"
eval "$(pay-respects zsh --alias)"
eval "$(starship init zsh)"
eval "$(zoxide init zsh --cmd cd)"

# Completion
if command -v jj &> /dev/null; then
  source <(COMPLETE=zsh jj)
fi
