{
{{ if eq .chezmoi.os "windows" -}}
    "defaultModel": "gpt-5.4",
    "defaultThinkingLevel": "xhigh",
    "showHardwareCursor": "true",
    {{ if eq .chezmoi.hostname "Altra" -}}
    "shellPath": "D:\\Applications\\Scoop\\scoop\\apps\\git\\current\\git-bash.exe"
    {{ end -}}
{{ else }}
    "defaultModel": "gpt-5.4",
    "defaultThinkingLevel": "xhigh",
    "showHardwareCursor": "true"
{{ end -}}
}

